@media only screen and (min-width:38rem){
    #myButtom{
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        
    }
    nav{
        margin: 0;
    }

    .list section{
        width: 506.21px;
    }
    .information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items:inherit;
    }
    .membersRandom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .events{
        justify-content: center;
    }
  .join{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form{
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .discover{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .gallery{
    grid-column: 3/4;
  }
 .news{
    grid-column: 1/3;
 }
 .client-messege{
    grid-column: 2/5;
 }
 }
 


