@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');



main {
    background-color: rgba(23, 53, 64, 1);
    margin-bottom: 0;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

nav {
    background-color: #84B026;
    list-style-type: none;
    animation: nav-load 500ms ease-in;
}

h1 {
    font-family: "Sansita";
    background-color: #84B026;
    margin: 0%;
    padding: 10px;
    padding-top: 20px;

}

#myButtom {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

.callAction:hover{
    background-color: #5b781d76;
    transform: scale(1.1); /* Scale up by 10% on hover */
}
ul.menuLinks li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: .75rem 2vw;
    font-family: "Sansita";

}

ul {
    list-style-type: none;
}

.curren-menu-li {
    background-color: #5b781d76;

}

ul.menuLinks {
    display: none;

}

ul.menuLinks.open {
    display: block;
    margin: 0;
}

.grid img, .randomImg {
    width: 15rem;
    height: 15rem;
}

div {
    margin: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;

}

div section {
    margin: 10px;
    padding: 10px;
    background-color: #84B026;
    font-family: "Sansita";

}

footer {
    background-color: #84B026;
    margin: 0;
    padding: 0.50rem;
    font-family: "Sansita";
    text-align: center;

}

div.grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
    grid-gap: 5px;
    align-items: center;
    text-align: center;
    justify-content: center
}

.list {
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 10px;
    padding: 0.50rem;
    width: 300px;

}

.list section img {
    display: none;
}

.heropic {

    position: relative;

}


.hero {
    background-image: url(/wdd231/chamber/images/large.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0;


}

.hero {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

section .button {
    grid-column: 2/4;
    grid-row: 2/3;

}

.callAction {
    padding: 20px;
    background-color: #84B026;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.events {
    background-color: #84B026;
}

.heroText {
    font-family: "Sansita";
}

.weather {
    background-color: rgb(167, 195, 178);
    text-align: center;
}

.city {
    margin: .3rem 0;
    font-family: "Sansita";
}

.description {
    text-transform: capitalize;
    margin: .3rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.temp {
    margin: .3rem 0;
    font-size: 2rem;
    font-family: "Sansita";

}

.detalis {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.eventName {
    font-family: "Sansita";
}

.information {
    display: block;
}
.forecast{
    text-align: center;
    padding: 0;
}
nav a:hover{
    background-color: #5b781d76;
}
.membersRandom section:hover{
    transform: scale(1.1); /* Scale up by 10% on hover */

}
#cards section:hover{
   
transform: scale(1.1); /* Scale up by 10% on hover */
cursor: pointer;
    
}
form label{
    display: block;
    margin-top: 30px;
    unicode-bidi: isolate;
    padding-left: 20px;
    


}
input, select, textarea{
    display: block;
    height: 40px ;
    width: 250px;
    margin-top: 5px;
}

form{
    background-color:#84B026;
    width: 70%;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
}
.formSec{
   
    display: grid;
    place-items: center;
    align-items: center;
}

button{
    padding: 15px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #02345c;
    color: white;
    border: none;
    transition: tranform 900ms;
}
input:required {
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left-color: #d70000;
    border-left-width: 5px;
    
}
input:required:valid{border-left-color: rgb(0, 217, 0);}
form h2{
    margin-left: 20px;
    font-family: "Sansita";
}

button:hover{
    background-color: white;
    color: #02345c;
    cursor: pointer;
    transform: translateY(-1.0rem);
}
.memberShipInf{
    text-align: center;
    display: grid; /* Enable grid layout */
    place-items: center; /* Center both horizontally and vertically */
}
    

.memberShipInf div{
    background-color: rgba(33, 115, 115, 1);
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
   
    justify-content: center;
}
.memberShipInf h2{
    color: white;
}
  
#results{
    background-color: #84B026;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;

}

@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

section div{
    animation: section-load 500ms;
    
}

.memberShipInf h2, .memberShipInf h3 {
    font-family: "Sansita";
}
@keyframes section-load{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}